.env
.idea
src/main/resources/items/boars/*
!src/main/resources/items/boars/NormalBoar.png
!src/main/resources/items/boars/CarrotBoar.png
!src/main/resources/items/boars/Boarb.gif
!src/main/resources/items/boars/BoarbSTATIC.png
!src/main/resources/items/boars/CreepyBoar.png
!src/main/resources/items/boars/MinimumWageBoar.png
!src/main/resources/items/boars/CowboyBoar.png
!src/main/resources/items/boars/RickrollBoar.gif
!src/main/resources/items/boars/RickrollBoarSTATIC.png
!src/main/resources/items/boars/Suboarnova.png
!src/main/resources/items/boars/ZombieBoar.png
!src/main/resources/items/boars/Boarcterium.png
!src/main/resources/items/boars/Boarnderwear.png
!src/main/resources/items/boars/IceBoar.png
!src/main/resources/items/boars/SantaBoar.png
src/main/resources/items/badges/*
!src/main/resources/items/badges/Hunter.png
!src/main/resources/items/badges/Athlete.png
src/main/resources/photoshop
src/main/resources/temp_items/*
src/main/resources/unused
src/main/java/dev/boarbot/util/boar/GuessInterpreter.ts
/target
/logs
/database*
src/main/resources/config.json
