.env
.idea
*.iml
*.ipr
*.iws
src/main/resources/assets/images/items/boars/*
!src/main/resources/assets/images/items/boars/ZombieBoar.png
!src/main/resources/assets/images/items/boars/IceBoar.png
!src/main/resources/assets/images/items/boars/NormalBoar.png
!src/main/resources/assets/images/items/boars/CarrotBoar.png
!src/main/resources/assets/images/items/boars/Boarb.gif
!src/main/resources/assets/images/items/boars/BoarbSTATIC.png
!src/main/resources/assets/images/items/boars/CreepyBoar.png
!src/main/resources/assets/images/items/boars/MinimumWageBoar.png
!src/main/resources/assets/images/items/boars/CowboyBoar.png
!src/main/resources/assets/images/items/boars/RickrollBoar.gif
!src/main/resources/assets/images/items/boars/RickrollBoarSTATIC.png
!src/main/resources/assets/images/items/boars/Suboarnova.png
!src/main/resources/assets/images/items/boars/Boargalos.png
!src/main/resources/assets/images/items/boars/Boarcterium.png
!src/main/resources/assets/images/items/boars/Boarnderwear.png
!src/main/resources/assets/images/items/boars/SantaBoar.png
src/main/resources/assets/images/items/badges/*
!src/main/resources/assets/images/items/badges/Hunter.png
!src/main/resources/assets/images/items/badges/Athlete.png
src/main/java/dev/boarbot/util/boar/GuessInterpreter.ts
src/main/resources/config/config.json
src/main/resources/config/items/boars.json
src/main/resources/config/items/badges.json
/target
/logs
/dataSources
/.ideaDataSources