on:
  pull_request:
    types: [closed]
    branches:
      - main

jobs:
  create-release:
    name: Create Release
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest

    steps:
      - uses: actions/create-github-app-token@v1
        id: app-token
        with:
          app-id: ${{ vars.APP_ID }}
          private-key: ${{ secrets.ACTION_KEY }}
    
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          token: ${{ steps.app-token.outputs.token }}

      - name: Get Version From Branch Name
        id: branch_info
        run: |
          BRANCH="${{ github.event.pull_request.head.ref }}"
          echo "Branch: $BRANCH"
          
          if [[ "$BRANCH" =~ ^release\/(v[0-9]+\.[0-9]+\.[0-9]+\.[0-9]+)$ ]]; then
            VERSION="${BASH_REMATCH[1]}"
            echo "Extracted version: $VERSION"
            echo "VERSION=$VERSION" >> $GITHUB_ENV
          else
            echo "Branch must be release/vX.X.X.X (example: release/v1.2.3.4)"
            exit 1
          fi

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ env.VERSION }}
          name: ${{ github.event.pull_request.title }}
          body: ${{ github.event.pull_request.body }}
